body, header {
    background-color: darkslategrey;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: nowrap;
    flex-direction: column;
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
}

header nav {
    width:35%;
    flex-wrap: nowrap;
}

header {
    align-items: center;
    justify-content: center;
    display:flex;
}

h1, h2 {
    text-align: center;
}

p {
    margin-left: 10%;
}

a {
    margin: auto;
}

figure {
    max-width: 25%;
    margin:auto;
    display:block;
    align-items: center;
    text-align: center;
    padding:30px;
}
ul {
    max-width: 75em;
    margin:auto;
    display:block;
}
li {
    padding:5px;
}

#copyright {
    text-align: center;
}