body, header {
    background-color: rgb(114, 185, 209);
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: nowrap;
    flex-direction: column;
}

nav {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin:20px, 10px;
}

header nav {
    width:35%;
    flex-wrap: nowrap;
}

header {
    align-items: center;
    justify-content: center;
    display:flex;
}

h1, h2, h6 {
    text-align: center;
}

p {
    max-width: 80%;
    text-align: center;
    margin:auto;
    background-color: rgba(32,32,32,50%);
    padding:20px;
    border-radius: 13px;
}

a {
    margin: auto;
    padding: 0 20px;
}

figure {
    max-width: 25%;
    margin:auto;
    display:block;
    align-items: center;
    text-align: center;
    padding:30px;
}
ul {
    max-width: 75em;
    margin:auto;
    display:block;
}
li {
    padding:5px;
}

#copyright {
    text-align: center;
    margin-left:30px;
    margin-right:auto;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(27, 101, 176);
    display:flex;
    align-items: center;
    justify-content: center;
  }
.spacer {
    height:200px;
}
.checkers {
    display: flex;
    margin-right:0;
    margin-left:auto;
}