<footer>
    <h6 id="copyright">by <a href="./itis3135/yhastydesign.com/index.html">Hasty Designs</a> ©2025, <i>
        <a href="https://www.freecodecamp.org/certification/yhasty/responsive-web-design"><br>Certified in Responsive Web Design</a>
        </i>
    </h6>
    <nav>
        <a href="https://webpages.charlotte.edu/yhasty/">UNCC Homepage</a> || 
        <a href="https://github.com/YordinH">Github Repo</a> || 
        <a href="https://yordinh.github.io/">Github.io Page</a> || 
        <a href="https://YordinH.github.io/itis3135/">Github.io ITIS3135 Page</a> || 
        <a href="https://www.freecodecamp.org/yhasty">FreeCodeCamp Profile</a> || 
        <a href="https://www.codecademy.com/profiles/yhasty">Codecademy Profile</a> || 
        <a href="https://www.linkedin.com/in/yordinhasty/">LinkedIn Profile</a>
    </nav>
    <script>
        document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</footer>