 <h1>Yordin Hasty's ITIS 3135 Homepage</h1>
        <a href="index.html">Homepage</a> | 
        <a href="introduction.html">Introduction</a> | 
        <a href="contract.html">Contract</a> | 
        <a href="fccfsjs_outline.html">FCC Outline</a> | 
        <a href="website_evaluations.html">Website Evaluation</a> | 
        <a href="hobby/index.html">Hobby Site</a> | 
        <a href="intro_form.html">Intro Form</a> | 
        <a href="project_overview.html">Client Project Overview</a> | 
        <a href="./qcfc/index.html">Client Project</a> | 
        <a href="review1.html">Review 1</a> | 
        <a href="review2.html">Review 2</a>